 <% layout('layouts/boilerplate') %> 
  <div class="container mt-2">
    <div class="contact-box">
      <div class="left">
       <h3>Time tracking for better work, not over work</h3>
      </div>
        <div class="right">
         <h2>Task Tracker</h2>
        <form action="/report" method="POST">
              <label class="Name"> <b> Name:</b></label>
              <input type="text" class="field" placeholder="Name" name="name" required
              oninvalid="this.setCustomValidity('Name is required')"
              oninput="this.setCustomValidity('')">
              <label class="Task-id"><b>Task Id: </b></label>
              <input type="text" class="field" placeholder="Enter your task id" name="task_id" required
              oninvalid="this.setCustomValidity('Task id required')"
              oninput="this.setCustomValidity('')">
              <label class="Description"><b>Description:</b></label>
              <textarea class="field area" placeholder="Description" name="description" required
              oninvalid="this.setCustomValidity('description is necessary')"
              oninput="this.setCustomValidity('')"></textarea>
              <label class="Date"><b>Date:</b></label>
              <input type="date" id="date" name="date" required
              oninvalid="this.setCustomValidity('Date required')"
              oninput="this.setCustomValidity('')">
              <label class="working hrs" ><b>Working Hours:</b></label>
              <input type="text" class="field" placeholder="Working hrs" name="working_hours">
              <button class="btn">Submit</button>
         </div>
      </form>
    </div>
  </div>