<% layout('layouts/boilerplate') %> 
<div class="container mt-5 text-center">
    <aside>
        <details>
            <summary><span class="btn btn-dark rounded-pill">Click Me</span></summary>
            <h1>Welcome to the End of the day report web portal</h1>
        </details>
    </aside>
</div>
