<% layout('layouts/boilerplate') %> 

<div class="image"
style="background-image:url(/images/office.jpg);background-size: cover ; height:100vh;">

            <h1 class="text-center "><b>Welcome to the End of the day report web portal<b></h1>
        
</div>
