<% layout('layouts/boilerplate') %> 

<div class="image"
style="background-image:url(/images/office.jpg);background-size: cover ; height:100vh;">
<div class="row ">
     
  


          <h1 class="head" style="margin: 235px;"><b>Welcome to the End of the day report web portal<b></h1>
        </div>
</div>
