<% layout('layouts/boilerplate') %> 
<div class="container d-flex flex-column vh-100 align-items-center justify-content-center">
<h1 class="mt-5"><b>Welcome to the End of the day report web portal<b></h1>
</div>
