<% layout('layouts/boilerplate') %>
    <div class="container d-flex col row-cols-2 mt-2">
        <div class="container col-6 d-flex justify-content-lg-center me-5 mt-5">
            <figure class="mt-4 w-100">
                <img src="/images/meeting.jpeg" alt="" width="540px" height="400px">
            </figure>
        </div>
        <div class="container mt-3 d-flex col-6 align-items-center">
                <h1>Welcome to the end of the day report web portal</h1>
        </div>
    </div>