<% layout ('layouts/boilerplate') %>
<div class="login">
    <h2>Hello!</h2>
    <form>
        <div class="form-group ">
            <label for="email" class="form-label"> Email Address :</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group  form-check">
            <label for="password" class="form-label"> Password :</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password" />
        </div>
        <div class="form-group">
            <label for="checkbox" class="form-check-label">

                <input class="form-check-input" type="checkbox" name="">
                Remember Me:</label>
        </div>
        <div class="d-grid">
            <input type="Login" class="btn btn-success btn-block" name="" value="submit">
        </div>

    </form>
</div>