<% layout ('layouts/boilerplate') %>
    <div class="container mt-5 d-flex justify-content-lg-center vh-70 ">
        <form class="w-50 loginForm ">
            <h2 class=" text-success"><b>Login Here!!!</b></h2>
            <div class=" form-floating mb-2 ms-5">
                <input type="text" class="form-control border-0 border-bottom" id="email" placeholder="User email">
                <label for="email">Email Address</label>
            </div>
            <div class=" form-floating mb-2 ms-5 text-left">
                <input type="text" class="form-control border-0 border-bottom" id="password"
                    placeholder="enter a password">
                <label for="password">Password</label>
            </div>
            <!-- <div class="form-group mt-3 row">
                <label for="checkbox" class="form-check-label">

                    <input class="form-check-input" type="checkbox" name="">
                    Remember Me:</label>
            </div> -->
            <div class=" mt-3 ms-5">
                <input type="Login" class="btn btn-success w-25" name="" value="Login">
                </div>
                <p class="mt-4 ">Not having an account<a href="/reports/reg/signup "> register here</a></p>

        </form>
    </div> 