<% layout('layouts/boilerplate') %>
  <div class="container mt-3 row row-cols-2">
    <div class="container mt-3 col-7">
      <h3>Time tracking for better work, not over work</h3>
     <img src="/images/tasktracker.jpeg" alt="" width="80%" height="80%">
    </div>
    <div class="container mt-3 col-5">
      <h1>Report Details</h1>
      <form action="/reports/new" method="post">
        <div class="col">
          <label for="name" class="form-label"> Name </label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
            <input type="text" name="name" class="form-control" id="name" placeholder="Username" required>
          </div>
        </div>
        <div class="col">
          <label for="date" class="form-label"> Date </label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa-sharp fa-solid fa-calendar-days"></i></div>
            <input type="date" name="date" class="form-control" id="date" required>
          </div>
        </div>
        <div class="col">
          <label for="time" class="form-label">Working hours</label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa-sharp fa-solid fa-clock"></i></div>
            <input type="text" name="time" id="time" class="form-control" required>
          </div>
        </div>
        <div class="col">
          <label for="taskid" class="form-label">Task Id</label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-id-badge"></i></div>
            <input type="text" class="form-control" name="taskid" placeholder="task id" id="taskid" required>
          </div>
        </div>
        <div class="col">
          <label for="description" class="description">Description</label>
          <div class="input-group">
            <div class="input-group-text"> <i class="fa-solid fa-keyboard"></i></i></div>
            <textarea name="description" id="description" cols="30" rows="03" class="form-control"
              placeholder="description of task" required></textarea>
          </div>
        </div>
        <button class="btn btn-success mt-3">Submit</button>
      </form>
    </div>
  </div>