<% layout ('layouts/boilerplate') %>
    <div class="container d-flex col row-cols-2 w-100 mt-4">
        <div class="container col-6 d-flex justify-content-lg-center me-5 mt-5">
            <figure class="mt-4 w-100">
                <img src="/images/Report-Writing.jpg" alt="" width="540px" height="400px">
            </figure>
        </div>
        <div class="container mt-3 d-flex col-6 justify-content-end">
            <form class="w-100 regForm ms-4"  action="/reports/reg/signup" method="post">
                <h2 class="text-success ms-5">Registration Form</h2>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="name" placeholder="User Name">
                    <label for="name">User name</label>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="email" placeholder="User email">
                    <label for="email">Email Address</label>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="password"
                        placeholder="enter a password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="mobilenumber"
                        placeholder="mobile number">
                    <label for="mobilenumber">Mobile Number</label>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="name"
                        placeholder="your designation">
                    <label for="name">Designation</label>
                </div>
                <div class="form-floating mb-2 ">
                    <input type="text" class="form-control border-0 border-bottom" id="address"
                        placeholder="your address">
                    <label for="address">Address</label>
                </div>
                <div class="form-check mt-3 ">
                    <input type="checkbox" name="check" class="form-check-input">
                    I accept the <a href="#"> terms of use</a> &<a href=""> privacy
                        policy</a></label>
                </div>
                <div class=" mt-3 ">
                    <input type="Submit" class="btn btn-success w-25" value="Submit">
                </div>
            </form>
        </div>
    </div>