<% layout ('layouts/boilerplate') %>
  <div class="container mt-2">
    <figure class="text-center">
      <img src="/images/401-error-wordpress-featured-image.jpg" alt="" width="960px" height="540px">
    <figcaption> <a href="/" class="btn btn-info fw-bold w-25">Go Back To Homepage</a></figcaption>
    </figure>
  </div>