<% layout ('layouts/boilerplate') %>
  <div class="container mt-2">
    <figure class="text-center">
      <img src="/images/401-error-wordpress-featured-image.jpg" alt="" width="960px" height="540px">
    </figure>
  </div>