<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interface</title>
</head>
<body>
    <div>
        <form>
            
            <label for="name">Name</label>
            <input type="text"  name="name"  class="name" placeholder="enter your task id">
            <label for="task_id">Task-Id</label>
            <input type="text"  name="task_id"  class="task_id" placeholder="enter your task id">
            <label for="desc">Description</label>
            <input type="text"  name="desc"  class="desc" placeholder="write description here">
            <label for="date">Date</label>
            <input type="date"  name="date"  class="date" placeholder="today's date here">
            <label for="hours">Working Hours</label>
            <input type="text"  name="hours"  class="hours" placeholder="mention today's working hours here">
            <input type="submit" value="Submit">
            
            
        </form>
    </div>
    
</body>
</html>